body{
    margin:0;
    padding:0;
    background-image:url("https://media.istockphoto.com/illustrations/wallpaper-with-roses-antique-flower-illustrations-illustration-id182214515");
}
h1{
    font-family: 'Playball', cursive;
}
.MainHeading{
    background-color:#e6bead;
    margin-bottom:2%;
    background-size: repeat;
    text-align:center;
    color:white;
}

.butterfliesContainer{
    width:100%;
    column-count: 4;
	column-gap:10px;
}
.butterflies{
    width:100%;
    height:100%;
    border: 2px solid #30140f;
    margin-bottom:5px
} 
